<h1><%= @bin.name %></h1>

<p><strong>Location:</strong> <%= @bin.location %></p>
<p><strong>Category:</strong> <%= @bin.category_name %></p>

<% if @bin.bin_picture.attached? %>
  <h3>Bin Picture</h3>
  <%= image_tag @bin.bin_picture, size: "200x200" %> <!-- You can adjust the size as needed -->
<% else %>
  <p>No picture uploaded for this bin.</p>
<% end %>

<h2>Items in This Bin</h2>

<% if @bin.items_in_bin.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @bin.items_in_bin.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.description %></td>
          <td><%= number_to_currency(item.value) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No items in this bin.</p>
<% end %>

<h3>QR Code</h3>
<%= raw @bin.qr_code %>  <!-- This will render the QR code as an SVG -->

<!-- Display the Bin URL -->
<p><strong>Bin URL:</strong> <span id="bin-url"><%= request.original_url %></span></p>

<!-- Copy to Clipboard Button -->
<button class="btn btn-primary" onclick="copyToClipboard()">Copy URL to NCF Chip</button>


<div style='margin-top: 20px;'>
  <%= link_to "Back to All Bins", bins_path, class: "btn btn-secondary" %>
</div>
