<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
   <!-- Load application-wide styles -->
  <%= stylesheet_link_tag "application", media: "all" %>

   <!-- Load dashboard-specific styles -->
    <%= stylesheet_link_tag "dashboard", media: "all" %>

  <!-- Load dashboard-JS Aplications -->
  <%= javascript_include_tag "application" %>
</head>
<body>
  <h1>My Inventory</h1>
  <div class="search-container">
    <!-- Search Bin/Category -->
    <div class="search-box">
      <input type="text" id="search-inventory" placeholder="Search by Bin/Category..." autocomplete="off">
      <button id="search-inventory-btn" tabindex="2">Search</button>
    </div>

    <!-- Search for Items -->
    <div class="search-box">
      <input type="text" id="search-items" placeholder="Search Items..." autocomplete="off">
      <button id="search-items-btn" tabindex="4">Search</button>
    </div>
  </div>

  <!-- Search by Location Button -->
  <button id="search-location-btn" class="search-location-btn">Search by Location</button>


</body>
</html>
