<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <h1>Dashboard</h1>

<!-- Logout Button -->
<%= button_to "Logout", destroy_user_session_path, method: :delete, class: "logout-btn", data: { confirm: "Are you sure you want to log out?" } %>
</body>
</html>
