<%= stylesheet_link_tag "sessions", media: "all" %>
<div class="container">
    <div class="form-container">
        <h2>Login</h2>

        <%= form_with url: new_user_session_path, method: :post do |f| %>
            <!-- Email Field -->
            <div class="form-group">
                <label for="email">Email:</label>
                <%= f.email_field :email, required: true, autofocus: true %>
            </div>

            <!-- Error Message Display -->
            <% if flash[:alert] %>
                <div class="error-message">
                    <%= flash[:alert] %>
                </div>
            <% end %>

            <!-- Password Field -->
            <div class="form-group">
                <label for="password">Password:</label>
                <%= f.password_field :password, required: true %>
            </div>

            <!-- Login Button -->
            <%= f.submit "Login", class: "btn " %>
        <% end %>

        <p>Don't have an account? <%= link_to "Sign up", signup_path %></p>
    </div>
</div>
