<%= stylesheet_link_tag "passwords", media: "all" %>

<div class="form-container">
    <h2>Forgot Password</h2>

    <%= form_with url: send_reset_code_path, method: :post do |f| %>
        <label for="email">Enter your registered email:</label>
        <%= f.email_field :email, id: "email", required: true %>

        <%= f.submit "Send Reset Code", class: "btn"%>
    <% end %>

    <p>
        <%= link_to "Back to Login", unauthenticated_root_path %>
    </p>
</div>

