<%= form_with(model: item, html: { multipart: true }) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :created_date, style: "display: block" %>
    <%= form.text_field :created_date %>
  </div>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value %>
  </div>

  <div>
    <%= form.label :bin_id, style: "display: block" %>
    <%= form.number_field :bin_id %>
  </div>

  <div>
    <%= form.label :item_picture, "Upload Picture", style: "display: block" %>
    <%= form.file_field :item_picture %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
