<%= form_with(model: item, html: { multipart: true }) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, step: :any %>
  </div>

  <div class="field">
    <%= form.label :bin_id, "Bin" %>
    <%= form.select :bin_id, 
        [["No Bin", ""]] + @bins.map { |b| [b.name, b.id] },
        { selected: item.bin_id },
        { class: "bin-dropdown" } %>
    <%= form.hidden_field :no_bin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
