<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Created date:</strong>
    <%= item.created_date %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= item.value %>
  </p>

  <p>
    <strong>Bin:</strong>
    <%= item.bin_id %>
  </p>

  <% if item.item_pictures.attached? %>
    <p>
      <strong>Picture:</strong><br>
      <%= image_tag item.item_picture, size: "200x200" %>
    </p>
  <% else %>
    <p>No picture uploaded</p>
  <% end %>

</div>
