<!-- filepath: /home/arun_akashr/RobertLightFoot/app/views/locations/_locations_table.html.erb -->
<% locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td class="center"><%= location.bins.count %></td>
    <td class="center"><%= location.items.count %></td>
    <td class="center">
      <%= link_to bins_path(location_id: location.id), class: "button" do %>
        <i class="fa fa-eye"></i>
      <% end %>
    </td>
    <td class="center">
      <%= link_to items_path(location_id: location.id), class: "button" do %>
        <i class="fa fa-eye"></i>
      <% end %>
    </td>
    <td class="center">
      <button class="button editLocationBtn" data-location-id="<%= location.id %>">Edit</button>
      <%= link_to "Delete", location, method: :delete, data: { confirm: "Are you sure?" }, class: "button" %>
    </td>
  </tr>
<% end %>

<!-- The Modal -->
<div id="editLocationModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <%= form_with model: @location, local: true, id: "editLocationForm", data: { turbo: false } do |form| %>
      <%= hidden_field_tag :_method, 'patch' %> 
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-group">
        <h3>Enter the new name:</h3>
        <%= form.text_field :name, required: true, class: "name-input" %>
      </div>

      <div>
        <%= form.submit "Update Location", class: "button update-location" %>
      </div>
    <% end %>
  </div>
</div>

<script>
var modal = document.getElementById("editLocationModal");
var span = document.getElementsByClassName("close")[0];
var form = document.getElementById('editLocationForm');

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

document.querySelectorAll('.editLocationBtn').forEach(button => {
  button.onclick = function() {
    var locationId = this.getAttribute('data-location-id');
    form.action = '/locations/' + locationId;
    modal.style.display = "block";
  }
});
</script>