<h1 class="center">Your Locations</h1>

  <div class="button-container">
    <button class="button addLocationBtn">Add New Location</button>
    <%= link_to "Back to Dashboard", dashboard_path, class: "button" %>
  </div>

  <%= stylesheet_link_tag 'locations', media: 'all', 'data-turbo-track': 'reload' %> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 

  <table>
    <thead>
      <tr>
        <th id="name-header">
          Name
          <i class="fa fa-search" id="search-icon" style="cursor: pointer; margin-left: 10px;"></i>
        </th>
        <th class="center">Total Bins</th>
        <th class="center">Total Items</th>
        <th class="center">View Bins</th>
        <th class="center">View Items</th>
        <th class="center">Actions</th>
      </tr>
    </thead>
    <tbody id="locations-table">
      <%= render partial: "locations_table", locals: { locations: @locations } %>
    </tbody>
  </table>

<!-- Add Modal -->
<div id="addLocationModal" class="modal">
  <div class="modal-content-add">
    <span class="close">&times;</span>
    <%= form_with model: @location, local: true, id: "addLocationForm", data: { turbo: false } do |form| %>
      <%= hidden_field_tag :_method, 'post' %> 
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-group">
        <h3>Enter the location name:</h3>
        <%= form.text_field :name, required: true, class: "name-input" %>
      </div>
      <%= form.submit "Add Location", class: "button update-location" %>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
  const searchIcon = document.getElementById("search-icon");
  const locationsTable = document.getElementById("locations-table");
  const addModal = document.getElementById("addLocationModal");
  const addForm = document.getElementById('addLocationForm');
  const addSpan = addModal.getElementsByClassName("close")[0];
  const addLocationBtn = document.querySelector('.addLocationBtn');

  function openAddModal() {
  addLocationBtn.onclick = function() {
    addForm.action = "/locations";
    addModal.style.display = "block";
  };

  addSpan.onclick = function() {
    addModal.style.display = "none";
  };

  window.onclick = function(event) {
    if (event.target == addModal) {
      addModal.style.display = "none";
    }
  };
}

  function attachSearchEvent() {
    searchIcon.addEventListener("click", function() {
      const th = document.getElementById("name-header");
      if (!document.getElementById("search-input")) {
        th.innerHTML = '<input type="text" class="name-input" id="search-input" placeholder="Search by name...">';
        const searchInput = document.getElementById("search-input");

        let debounceTimeout;
        searchInput.addEventListener("input", function() {
          clearTimeout(debounceTimeout);
          debounceTimeout = setTimeout(() => {
            const query = searchInput.value;

            fetch(`/locations?name=${query}`, {
              headers: {
                "X-Requested-With": "XMLHttpRequest"
              }
            })
            .then(response => response.text())
            .then(html => {
              locationsTable.innerHTML = html;
            });
          }, 300);
        });

        searchInput.addEventListener("blur", function() {
          th.innerHTML = 'Name <i class="fa fa-search" id="search-icon" style="cursor: pointer; margin-left: 10px;"></i>';
          attachSearchEvent();
        });
        searchInput.focus(); 
      }
    });
  }

  attachSearchEvent();
  openAddModal();
  });
</script>
