<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Robert Light Foot" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    
    <%= javascript_include_tag 'copy_to_clipboard' %>
    <%= javascript_include_tag "flash" %>
    <%= javascript_include_tag "search" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "bins", media: "all", "data-turbo-track": "reload" %>  <%# 🚀 NEW LINE TO FORCE-LOAD bins.css %>
    <%= stylesheet_link_tag "items", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless (controller_name == "sessions" && action_name == "new") || 
              (controller_name == "password" && ["new", "edit", "forgot", "reset_code","reset"].include?(action_name)) ||
              (controller_name == "registrations" && action_name == "new") ||
              (controller_name == "users" && action_name == "new")%>
      <%= render "shared/navbar" %>
    <% end %>

    <% flash.each do |key, message| %>
  <div class="flash-message" id="flash-popup" data-flash-type="<%= key %>">
    <%= message %>
  </div>
  <% end %>


    <%= yield %>
  </body>
</html>
